.main {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 40px auto;

    h2 {
        color: var(--color-3);
        font-size: var(--h2);
        margin-bottom: 20px;
    }

    .slider {
        padding: 0 40px;
        margin: 0 auto;

        .slider__item {
            display: grid;
            grid-template: auto auto / repeat(2, 1fr);
            gap: 40px;

            .slider__item-img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 500px;
                border-radius: 20px;

                @media (max-width: 1100px) {
                    height: 300px;
                }
            }
            @media (max-width: 1100px) {
                grid-template: auto auto / repeat(1, 1fr);
                gap: 20px;
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .slide {
                    display: flex;
                    margin: 0 0 0 auto;
                    align-items: center;
                    gap: 5px;

                    .slide-dot {
                        display: flex;
                        background-color: var(--color-1);
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;

                        &:first-child {
                            background-color: var(--color-3);
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .next-slide {
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                        object-position: center;
                        cursor: pointer;
                    }
                }

                .rate {
                    display: flex;
                    gap: 5px;

                    .star {
                        width: 20px;
                        height: 20px;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .info-p {
                    font-size: var(--text);
                    color: var(--color-1);
                }
            }

        }
    }

    .auth {
        padding: 0 40px;

        .auth__item {
            .form {
                width: 40%;
                display: flex;
                gap: 10px;
                flex-direction: column;
                justify-content: center;

                @media (max-width: 1100px) {
                    width: 100%;
                }

                .auth__item-input {
                    border: 1px solid var(--color-3);
                    padding: 10px;
                    border-radius: 10px;
                    color: var(--color-1);
                    background-color: var(--color-4);
                    width: 100%;
                    font-size: var(--text);
                }

                .auth__item-link {
                    align-self: flex-end;
                    width: max-content;
                    color: red;
                    font-size: var(--text);
                }
            }
        }
    }

    .about {
        padding: 0 40px;

        .about__item {
            display: grid;
            grid-template: auto auto / repeat(2, 1fr);
            gap: 40px;

            @media (max-width: 1100px) {
                grid-template: auto auto / repeat(1, 1fr);
                gap: 20px;
            }

            .about__item-img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 500px;
                border-radius: 20px;

                @media (max-width: 1100px) {
                    height: 300px;
                }
            }

            .info {
                font-size: var(--text);
                color: var(--color-1);
            }
        }
    }

    .hello {
        padding: 0 40px;

        .hello__item {
            display: flex;
            justify-content: center;

            .hello__item-video {
                width: 100%;
                border-radius: 20px;
            }
        }
    }

    .search {
        padding: 0 40px;

        .search__item {
            display: flex;
            gap: 10px;

            .search__item-input {
                border: 1px solid var(--color-3);
                padding: 10px;
                border-radius: 10px;
                color: var(--color-1);
                background-color: var(--color-4);
                width: -moz-available;
                font-size: var(--text);
            }

            .search__item-button {}
        }
    }

    .subscribe {
        padding: 0 40px;

        .subscribe__item {
            .form {
                width: 40%;
                display: flex;
                gap: 10px;
                flex-direction: column;
                justify-content: center;

                @media (max-width: 1100px) {
                    width: 100%;
                }

                .subscribe__item-input {
                    border: 1px solid var(--color-3);
                    padding: 10px;
                    border-radius: 10px;
                    color: var(--color-1);
                    background-color: var(--color-4);
                    width: 100%;
                    font-size: var(--text);
                }

                .checkbox {
                    display: flex;
                    gap: 10px;

                    .chekbox-input {}

                    .checkbox-p {
                        font-size: var(--text);
                        color: var(--color-1);
                    }
                }
            }
        }
    }

    .feedback {
        padding: 0 40px;

        .feedback__item {
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .cards {
                display: grid;
                grid-template: auto auto / repeat(3, minmax(300px, 1fr));
                gap: 40px;

                @media (max-width: 1100px) {
                    grid-template: repeat(2, 1fr) / repeat(1, minmax(300px, 1fr));
                }

                .card {
                    padding: 20px;
                    border-radius: 20px;
                    display: flex;
                    gap: 10px;
                    flex-direction: column;
                    border: 1px solid var(--color-3);

                    .card-title {
                        color: var(--color-1);
                        font-size: var(--title);
                    }

                    .card-img {
                        width: 70px;
                        height: 70px;
                        border-radius: 10px;
                    }

                    .card-p {
                        height: 100%;
                        color: var(--color-1);
                        font-size: var(--text);
                    }
                }
            }

            .slide {
                display: flex;
                margin: auto;
                align-items: center;
                gap: 5px;

                .slide-dot {
                    display: flex;
                    background-color: var(--color-1);
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;

                    &:first-child {
                        background-color: var(--color-3);
                        width: 20px;
                        height: 20px;
                    }
                }

            }
        }
    }

    .competitions {
        padding: 0 40px;

        .competitions__item {
            .cards {
                width: 100%;
                display: grid;
                grid-template: repeat(2, 1fr) / repeat(3, minmax(300px, 1fr));
                gap: 20px;

                @media (max-width: 1100px) {
                    grid-template: repeat(2, 1fr) / repeat(2, minmax(300px, 1fr));
                }
                .card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 10px;
                    padding: 10px;
                    border-radius: 20px;
                    border: 1px solid var(--color-3);

                    .card-img {
                        border-radius: 10px;
                        height: 300px;
                        object-fit: cover;
                        object-position: center;
                    }

                    .info-title {
                        font-size: var(--title);
                        color: var(--color-1);
                    }

                    .info-p {
                        font-size: var(--text);
                        color: var(--color-1);
                    }

                    .rate {
                        display: flex;
                        gap: 5px;

                        .star {
                            width: 20px;
                            height: 20px;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }
        }
    }
}